.nav__web{
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.nav__studio{
    color: black;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.nav__logo{
    margin-right: 90px;
}

.studio-footer{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

// Portfolio

.nav__logo{
    margin-right: 75px;
}
