/* ⁡⁢⁣⁢𝔻𝕚𝕤𝕔𝕣𝕚𝕡𝕥𝕚𝕠𝕟⁡ */

.discription{
    display: flex;
}

.discription__list{
    margin-right: 30px;
}

.description__item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    margin-bottom: 10px;
}

.description__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: #757575;  
}

/* ⁡⁢⁣⁢𝗗𝗶𝘀𝗰𝗿⁡ icons */

.discription__icon{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background: #F5F4FA;
    border-radius: 4px;
}