/* â¡â£â¢â£â„ğ•–ğ•’ğ••ğ•–ğ•£â¡ */
html{
    scroll-behavior: smooth;
}

header{
    border-bottom: 1px solid #ECECEC;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-container{
    display: flex;
    align-items: center; 
}

.header-container > .header-hidden{
    @media screen and (max-width:767px) {
        display: none;
    }
}

.nav{
    display: flex;
    align-items: center;
}

.mobile-menu__button{
    position: absolute;
    right: 0;

    @media screen and (min-width:768px) {
        opacity: 0;
    }
}

.nav__item-studio-link{
    @media screen and (max-width:1199px) {
        padding-bottom: 35px;
    }
}

/* â¡â£â¢â£ğ—›ğ—²ğ—®ğ—±ğ—²ğ—¿â¡ contact icon */

.header__group{
    margin-left: auto;
}

.header__email, .header__tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: 250ms ease;

}

.header__email:hover, .header__tel:hover{
    color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__email:focus, .header__tel:focus{
    color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__email{
    margin-right: 50px;
    @media screen and (max-width:1199px) { 
        display: flex;
    }
}

.header__icon{
    margin-right: 10px;
    fill: currentColor;
}