/* â¡â£â¢â¢ğ•€ğ•ğ•’ğ•˜ğ•–â¡ */

.img__section{
    padding-top: 0;
}

.image__list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.img__item{
    position: relative;
}

.img__item::before{
    content: "";
    display: block;
    width: 100%;
    height: 70px;

    position: absolute;
    bottom: 4px;
    left: 0;

    background-color: rgba(47, 48, 58, 0.8);
}

.img__text{
    position: absolute;
    bottom: 30px;
    right: 100px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #ffffff;
}
