/* â¡â¢â£â¢ğ—•ğ˜‚ğ˜ğ˜ğ—¼ğ—»ğ˜€â¡ */

.buttons__list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button__item{
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;  
    margin-right: 8px;

    border-color: transparent;
    transition: 250ms ease;
} 

.button__item:hover, .button__item:focus{
    background:#2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
