/* ⁡⁢⁣⁢⁡⁢⁣⁢𝗣𝗵𝗼𝘁𝗼𝘀 ⁡ */

.photo-list{
    @media screen and (min-width:768px) {
        padding-bottom: 0;        
    }

    @media screen and (min-width:1200px) {
        padding-bottom: 94px;
    }
}

.photo__list{
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;

    @media screen and (max-width:767px) {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        padding-left: 10px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.photo__item{
    margin-right: 30px;
    margin-bottom: 30px;

    @media screen and (max-width:767px) {
        margin-right: 0;
        margin-bottom: 30px;
    }

  
}

.photo__item:nth-child(7){
    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }
}

.photo__item:nth-child(8){
    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }
}

.photo__item:nth-child(9){
    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }
}


.third{
    margin: 0;
}

.overlay__photo{
    @media screen and (max-width:767px) {
        width: 450px;
        height: 294px;
    }

    @media screen and (min-width:768px) {
        width: 354px;
        height: 294px;
    }
}

.last-photo{
    margin-top: 0;
}

.photo__discr{
    padding: 20px 18px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.photo__item:nth-child(7){
    // margin-bottom: 0;

    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
    }
}

.photo__item:nth-child(8){
    // @media screen and (min-width:1200px) {
    //     margin-bottom: 0;
    // }

    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }
}

.photo__item:nth-child(9){
    @media screen and (min-width:768) {
        margin-bottom: 0;
    }

    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }
}

.photo__item:hover ,.photo:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;  
    letter-spacing: 0.06em;
    color: #212121;
    
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
 
    letter-spacing: 0.03em;
    color: #757575;
}

.overlay__text {
    position: absolute;
    // bottom: -1px;
    left: 0;
}
  
.overlay__text {
    @media screen and(min-width:1200px) {
        padding: 63px 24px;
    }

    @media screen and (min-width:768px) {
        bottom: -1px;
    }

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
}

.overlay:hover .overlay__text {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 77px 24px;

  }
