/* â¡â¢â£â¢ğ—›ğ—²ğ—®ğ—±ğ—²ğ—¿â¡ */

.header-container{
    display: flex;
    align-items: center; 
}

.nav{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 0;
}
