/* â¡â£â¢â£ğ”½ğ• ğ• ğ•¥ğ•–ğ•£â¡ â¡â£â¢â¢ğ˜€ğ—¼ğ—°ğ—¶ğ—®ğ—¹ ğ—»ğ—²ğ˜ğ˜„ğ—¼ğ—¿ğ—¸ğ˜€â¡ */

.social-icon{
    fill: #AFB1B8;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    background-color: #ffffff;
    border-radius: 50%;

    transition: 250ms ease;
}

.social-link:hover{
    background-color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus{
    background-color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon{
    fill: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link{
     background-color: rgba(255, 255, 255, 0.1);
}
 
.footer-social-icon{
     fill: #FFFFFF;
}
