/* â¡â¢â£â¢ğ—›ğ—²ğ—®ğ—±ğ—²ğ—¿â¡ */

.header-container{
    display: flex;
    align-items: center; 
}

.nav{
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

.nav__item-portfolio-link{
    @media screen and (max-width:1199px) {
        padding-bottom: 40px;
    }
}
